*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    line-height: 150%;
}

.main-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.pokemon-card {
    border: 1px solid #ccc;
    padding: 10px;
}

.pokemon-card__image-section {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.pokemon-card__image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.pokemon-card__info-section {
    margin-top: 10px;
}

.pokemon-card__name {
    font-weight: bold;
}

.pokemon-card__id-type {
    color: #777;
}

.pokemon-card__moves-section {
    margin-top: 10px;
}

.pokemon-card__moves {
    font-style: italic;
}

.detail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1rem;
    grid-auto-flow: dense;
}

.detail-card__title {
    text-align: inherit;
    font-weight: bold;
    color: #ef5350;
}

.detail-card__image-section {
    grid-column: 1 / span 2;
    text-align: center;
    width: 100%;
}

.detail-card__image img {
    width: 50%;
    height: auto;
    object-fit: contain;
}

.detail-card__info-section {
    grid-column: auto;
    grid-row: auto;
    margin-top: 10px;
    padding-left: 1rem;
}

.detail-card__item {
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.1s ease-in-out;
}

a:hover {
    text-decoration: underline;
    font-weight: inherit;
    color: rgba(0, 116, 236, .9294117647058824);
}

.detail-card__info-section li {
    list-style: none;
}

.detail-card__item {
    color: inherit;
}

.detail-card__list {
    color: inherit;
}

.detail-card__moves-section {

    margin-top: 10px;
}

.detail-card__moves {
    font-style: italic;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination__link {
    color: inherit;
    text-decoration: none;
    outline: none;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
}

.pagination__link:hover {
    background: #e5e5e5;
}

.detail-page {
    text-transform: capitalize;
}

#popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}

.sprite-gallery > .sprite-gallery__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1rem;
    grid-auto-flow: dense;
    list-style: none;
}

.sprite-gallery > .sprite-gallery__list > li > figure {
    height: 96px;
}

.sprite-gallery > .sprite-gallery__list > li > figure > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sprite-name {
    text-align: center; /* Align the sprite names at the center */
}
