{% extends 'base.html' %}

{% block title %}Ability Detail{% endblock %}

{% block content %}
    <div class="container pt-5">
        <h1>{{ data.name | title }}</h1>
    </div>
           <!-- Ai Summary -->
    <div class="container pt-1">
        <div class="row">
            <div class="col">
                {% if summary_html %}
                    <p>{{ summary_html | safe }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <h2>Effects</h2>
        <ul>
            {% for entry in data.effect_entries %}
                <li>{{ entry.effect }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="container pt-5">
        <h2>Flavor Texts</h2>
        <ul>
            {% for entry in data['flavor_text_entries'] %}
                <li><strong>{{ entry['version_group']['name'] }}:</strong> {{ entry['flavor_text'] }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="container pt-5">
        <h2>Pokémon with the {{ data.name | title }} ability</h2>
        {% include '_pokemon_list.html' %}
    </div>
{% endblock %}
