{% extends 'base.html' %}

{% block title %}Ability Detail{% endblock %}

{% block content %}
    <div class="container pt-5">
        <h1>{{ data.name | title }}</h1>
    </div>
           <!-- Ai Summary -->
    <div class="container pt-1">
        <div class="row">
            <div class="col">
                <h2>
                    Summary
                    {% if current_user.is_authenticated and current_user.is_admin %}
                        <a href="{{ url_for('summary_review.summary_review', 
                                           search=data.name,
                                           return_to=url_for('abilities_moves_items.get_ability', id_or_name=data.name)) }}" 
                           class="text-decoration-none" 
                           title="Edit Summary">
                            <i class="fas fa-pencil-alt" style="font-size: 75%"></i>
                        </a>
                    {% endif %}
                </h2>
                {% if summary_html %}
                    <p>{{ summary_html | safe }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <h2>Effects</h2>
        <ul>
            {% for entry in data.effect_entries %}
                <li>{{ entry.effect }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="container pt-5">
        <h2>Flavor Texts</h2>
        <ul>
            {% for entry in data['flavor_text_entries'] %}
                <li><strong>{{ entry['version_group']['name'] }}:</strong> {{ entry['flavor_text'] }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="container pt-5">
        <h2>Pokémon with the {{ data.name | title }} ability</h2>
        {% include '_pokemon_list.html' %}
    </div>
{% endblock %}
