<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pokédex API{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('pokemon.static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('pokemon.static', filename='css/styles.css') }}">
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="7eef77a5-922f-418b-a7ab-2a9ff676d49f"
            data-blockingmode="auto" type="text/javascript"></script>
    <script data-cookieconsent="ignore">    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag("consent", "default", {
        ad_personalization: "denied",
        ad_storage: "denied",
        ad_user_data: "denied",
        analytics_storage: "denied",
        functionality_storage: "denied",
        personalization_storage: "denied",
        security_storage: "granted",
        wait_for_update: 500,
    });
    gtag("set", "ads_data_redaction", true);
    gtag("set", "url_passthrough", false);</script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GBDW5BKLK3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-GBDW5BKLK3');
    </script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg  bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" title="Pokémon API">
                <img src="{{ url_for('pokemon.static', filename='img/pokedexlogo.png') }}" alt="Pokémon"
                     class="img-fluid" style="max-height: 40px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="{{ url_for('pokemon.get_pokemon_list',page=1) }}">Pokémon</a>
                    <a class="nav-link" href="{{ url_for('pokemon.get_ability') }}">Abilities</a>
                    <a class="nav-link" href="{{ url_for('pokemon.get_type') }}">Types</a>
                    <a class="nav-link" href="{{ url_for('pokemon.get_pokemon_color') }}">Colors</a>
                    <a class="nav-link" href="{{ url_for('pokemon.get_pokemon_habitat') }}">Habitats</a>
                    <a class="nav-link" href="{{ url_for('pokemon.get_pokemon_shape') }}">Shapes</a>
                </div>
                {% include 'search.html' %}
            </div>
        </div>
    </nav>
</header>

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>
<footer class="bg-light text-center py-4">
    <div class="container">
        <p>Created by <a href="https://github.com/joereg4">Joe Regenstein</a>, thank you PokéAPI. Pokémon and Pokémon
            character names are trademarks of Nintendo.</p>
    </div>
<script>
    const resources = {{ resources_json | safe }};
    console.log(resources);  // Check if the data is loaded
    console.log(Array.isArray(resources));  // This should log `true` if `resources` is an array
</script>
<script id="CookieDeclaration" src="https://consent.cookiebot.com/7eef77a5-922f-418b-a7ab-2a9ff676d49f/cd.js" type="text/javascript" async></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
</body>
</html>
