{% extends 'base.html' %}

{% block title %}{{ data.name | capitalize }} Flavor - Berry Flavor{% endblock %}

{% block content %}
    <div class="container pt-5">
        <h1>{{ data.name | capitalize }} Flavor</h1>
    </div>

    <div class="container pt-5">
        <h2>{{ data.name | capitalize }} Flavor Details</h2>
        <ul>
            <li><strong>Associated Contest Type:</strong>
                <a href="{{ url_for('pokemon.get_contest_type', id_or_name=data.contest_type.name) }}">{{ data.contest_type.name | capitalize }}</a>
            </li>
        </ul>
    </div>

    <div class="container pt-5">
        <h2>Berries with {{ data.name | capitalize }} Flavor</h2>
        <ul>
            {% for berry in data.berries %}
                <li>
                    <a href="{{ url_for('pokemon.get_berry', id_or_name=berry.berry.name) }}">{{ berry.berry.name | capitalize }}</a>
                    - Potency: {{ berry.potency }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
