{% extends 'base.html' %}

{% block title %}{{ data.name }} - Pokémon Detail{% endblock %}

{% block content %}
    <h1>#{{ data.id }} {{ data.name }} </h1>
    <!-- Image, Attributes, Stats, Abilities and Held Items  -->
    <section>
        <div class="container">
            <div class="row">
                <!-- Official Image -->
                <div class="col">
                    <img src="{{ data.sprites['other']['official-artwork']['front_default'] }}" alt="{{ data.name }}">
                </div>
                <!-- Attributes Section -->
                <div class="col">
                    <h2 class="detail-card__title">Attributes</h2>
                    <ul>
                        <li class="detail-card__list">Base Experience: {{ data.base_experience }}</li>
                        <li class="detail-card__list">Height: {{ data.height }}</li>
                        <li class="detail-card__list">Weight: {{ data.weight }}</li>
                        <li class="detail-card__list">Is Default: {{ data.is_default }}</li>
                        <li class="detail-card__list">Order: {{ data.order }}</li>
                        {% if species_data %}
                            <li class="detail-card__list">Base Happiness: {{ species_data.base_happiness }}</li>
                            <li class="detail-card__list">Capture Rate: {{ species_data.capture_rate }}</li>
                            <li class="detail-card__list">Color: <a
                                    href="{{ url_for('pokemon.get_pokemon_color', id_or_name=species_data.color.name) }}">{{ species_data.color.name | title }}</a>
                            </li>
                            <li class="detail-card__list">Egg Groups:
                                {% for egg_group in species_data.egg_groups %}
                                    <a href="{{ url_for('pokemon.get_egg_group', id_or_name=egg_group.url.split('/')[-2]) }}">{{ egg_group.name | title }}</a>
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            <li class="detail-card__list">Gender Rate: {{ species_data.gender_rate }}</li>
                            <li class="detail-card__list">Hatch Counter: {{ species_data.hatch_counter }}</li>
                            <li class="detail-card__list">Has Gender
                                Differences: {{ species_data.has_gender_differences | title }}</li>
                            <li class="detail-card__list">Habitat: <a
                                    href="{{ url_for('pokemon.get_pokemon_habitat', id_or_name=species_data.habitat.name) }}">{{ species_data.habitat.name | title }}</a>
                            </li>
                            <li class="detail-card__list">Is Baby: {{ species_data.is_baby }}</li>
                            <li class="detail-card__list">Is Legendary: {{ species_data.is_legendary }}</li>
                            <li class="detail-card__list">Is Mythical: {{ species_data.is_mythical }}</li>
                            <li class="detail-card__list">Shape: {{ species_data.shape.name | title }}</li>
                        {% endif %}
                    </ul>
                </div>
                <!-- Stats Section -->
                <div class="col">
                    <h2>Stats</h2>
                    <ul>
                        {% for stat in data.stats %}
                            <li class="list-unstyled">
                                <strong>{% if stat.stat.name == 'hp' %} {{ stat.stat.name | upper }} {% else %}
                                    {{ stat.stat.name | replace('-', ' ') | title }} {% endif %}</strong>
                                <div class="progress" role="progressbar"
                                     aria-label="{{ stat.stat.name | replace('-', ' ') | title }}"
                                     aria-valuenow="{{ stat.base_stat }}" aria-valuemin="0"
                                     aria-valuemax="{% if stat.stat.name == 'hp' %}
                                    255
                                    {% elif stat.stat.name == 'attack' %}
                                    190
                                    {% elif stat.stat.name == 'defense' %}
                                    230
                                    {% elif stat.stat.name == 'special-attack' %}
                                    194
                                    {% elif stat.stat.name == 'special-defense' %}
                                    230
                                    {% elif stat.stat.name == 'speed' %}
                                    180
                                    {% endif %}">
                                    <div class="progress-bar" style="width:
                                            {% if stat.stat.name == 'hp' %}
                                                {{ (stat.base_stat / 255) * 100 }}%
                                            {% elif stat.stat.name == 'attack' %}
                                                {{ (stat.base_stat / 190) * 100 }}%
                                            {% elif stat.stat.name == 'defense' %}
                                                {{ (stat.base_stat / 250) * 100 }}%
                                            {% elif stat.stat.name == 'special-attack' %}
                                                {{ (stat.base_stat / 194) * 100 }}%
                                            {% elif stat.stat.name == 'special-defense' %}
                                                {{ (stat.base_stat / 250) * 100 }}%
                                            {% elif stat.stat.name == 'speed' %}
                                                {{ (stat.base_stat / 200) * 100 }}%
                                            {% endif %};"
                                         aria-valuenow="{{ stat.base_stat }}">
                                        {{ stat.base_stat }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Abilities and Held Items Section -->
                <div class="col">
                    <h2 class="detail-card__title">Abilities</h2>
                    <ul>
                        {% for ability in data.abilities %}
                            <li class="detail-card__list">
                                Slot {{ ability.slot }}: <a
                                    href="{{ url_for('pokemon.get_ability', id_or_name=ability.ability['url'].split('/')[-2]) }}"> {{ ability.ability['name'] | title }} </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <h2 class="detail-card__title">Held items</h2>
                    <ul>
                        {% if data.held_items %}
                            {% for held_item in data.held_items %}
                                <li class="item-section__list">
                                    <a href="{{ url_for('pokemon.get_item', id_or_name=held_item.item.url.split('/')[-2]) }}"> {{ held_item.item.name | title }} </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            None
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Ai Summary -->
    <section>
        <div class="container pt-5">
            <h2>Summary</h2>
            <div class="row">
                <div class="col">
                    {% if summary_html %}
                        <p>{{ summary_html | safe }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Type Effectiveness -->
    <section>
        <div class="container pt-5">
            <h2>Type Effectiveness</h2>
            {% for type_name, relations in type_effectiveness.items() %}
                <!-- Type Name Row -->
                <div class="row p-2">
                    <a href="{{ url_for('pokemon.get_type', id_or_name=type_name) }}">
                        <img src="{{ url_for('pokemon.static', filename='img/type/nameplate/' + type_name | lower + '_np.png') }}">
                    </a>
                </div>
                <div class="row p-2">
                    <div class="col">
                        {% set relation_types = [
                        {'name': 'Double Damage To', 'relation': relations.double_damage_to},
                        {'name': 'Half Damage To', 'relation': relations.half_damage_to},
                        {'name': 'No Damage To', 'relation': relations.no_damage_to},
                        {'name': 'Double Damage From', 'relation': relations.double_damage_from},
                        {'name': 'Half Damage From', 'relation': relations.half_damage_from},
                        {'name': 'No Damage From', 'relation': relations.no_damage_from}
                    ] %}

                        {% for relation in relation_types %}
                            <div class="row pb-1 border-bottom">
                                <div class="col-2 align-self-center"><strong>{{ relation.name }}</strong></div>
                                <div class="col-10 d-flex flex-wrap  align-self-center">
                                    {% for type in relation.relation %}
                                        <div class="me-2">
                                            <a href="{{ url_for('pokemon.get_type', id_or_name=type.name) }}">
                                                <img src="{{ url_for('pokemon.static', filename='img/type/nameplate/' + type.name | lower + '_np.png') }}"
                                                     style="height: 25px">
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- Pokémon Sprites -->
    <section>
        <div class="container pt-5">
            <h2>Pokémon Sprites</h2>
            <div class="row">
                <div class="col d-flex justify-content-around">
                    {% for name, url in sorted_sprites.items() %}
                        <div class="me-auto">
                            {% if url and "other" not in name and "versions" not in name %}
                                <img style="height: 100%" src="{{ url }}" alt="{{ name }}">
                                <div>{{ name|replace("_", " ")|title }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </section>
    <!-- Evolution Chain -->
    <section>
        <div class="container pt-5">
            <h2>Evolution Chain</h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">
                {% if species_data %}
                    {% for pokemon in evolution_chain %}
                        <div class="col">
                            <div class="card text-center h-100{% if pokemon.name|lower == data.name|lower %}  border-dark shadow{% endif %}">
                                <div class="card-header">
                                    {{ pokemon.name|title }} - {{ pokemon.species_id }}
                                </div>
                                <img src="{{ pokemon.sprite }}" class="card-img-top" alt="{{ pokemon.name }} Image">
                                <div class="card-body">
                                    <p class="card-text">
                                        {% if pokemon.min_level %}
                                            Min. Lvl {{ pokemon.min_level }}
                                        {% else %}
                                            <br>
                                        {% endif %}
                                    </p>
                                    <a href="{{ url_for('pokemon.get_pokemon', id_or_name=pokemon.name) }}"
                                       class="btn btn-primary">View Details</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col">
                        No Data Available
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Moves -->
    <section>
        <div class="container pt-5">
            <h2>Moves</h2>
            <div class="row">
                <!-- Level Up -->
                <div class="col">
                    <h3>Level Up</h3>
                    <div class="move-scroll">
                        <ul class="list-group">
                            {% for move in move_categories.level_up | sort(attribute='level_learned_at') %}
                                <li class="list-group-item">
                                    <strong>Level {{ move.level_learned_at }}:</strong>
                                    <a href="{{ move.url }}">{{ move.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- TM/HM -->
                <div class="col">
                    <h3>TM/HM</h3>
                    <div class="move-scroll">
                        <ul class="list-group">
                            {% for move in move_categories.tm_hm %}
                                <li class="list-group-item">
                                    <a href="{{ move.url }}">{{ move.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Breeding -->
                <div class="col">
                    <h3>Breeding</h3>
                    <div class="move-scroll">
                        <ul class="list-group">
                            {% for move in move_categories.breeding %}
                                <li class="list-group-item">
                                    <a href="{{ move.url }}">{{ move.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Tutor -->
                <div class="col">
                    <h3>Tutor</h3>
                    <div class="move-scroll">
                        <ul class="list-group">
                            {% for move in move_categories.tutor %}
                                <li class="list-group-item">
                                    <a href="{{ move.url }}">{{ move.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Other -->
                <div class="col">
                    <h3>Other</h3>
                    <div class="move-scroll">
                        <ul class="list-group">
                            {% for move in move_categories.other %}
                                <li class="list-group-item">
                                    <a href="{{ move.url }}">{{ move.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Flavor Texts -->
    <section>
        <div class="container pt-5">
            <h2>Flavor Text Entries</h2>
            <div class="row">
                <div class="col">
                    <ul>
                        {% if species_data %}
                            {% for entry in species_data.flavor_text_entries %}
                                <li>
                                    <strong>{{ entry.version.name | title }}:</strong>
                                    {{ entry.flavor_text|replace("POKéMON", "Pokémon") }}
                                </li>
                            {% endfor %}
                        {% else %}
                            <div>
                                No Data Available
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Pokédex -->
    <section>
        <div class="container pt-5">
            <h2>Pokedex</h2>
            <div class="row">
                <div class="col">
                    {% if species_data %}
                        {% for entry in species_data.pokedex_numbers %}
                            <li class="detail-card__list">
                                <a href="{{ url_for('pokemon.get_endpoint_data', api_endpoint=entry.pokedex.url.split('/')[-3], id_or_name=entry.pokedex.url.split('/')[-2]) }}">{{ entry.entry_number }} {{ entry.pokedex.name | title }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <div style="text-align: center">No Data Available</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Cards -->
    <section>
        <div class="container pt-5">
            <h2>Cards</h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                {% if cards %}
                    {% for card in cards %}
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-header text-center">{{ card.name }}</div>
                                <img src="{{ card.large_image }}" class="card-img-top" alt="card.name">
                                <div class="card-body">
                                    <p class="card-text"> Created by <strong>{{ card.artist | title }}</strong> for the
                                        <strong>{{ card.set_name }}</strong> set.</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col">
                        No Data Available
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}