{% extends 'base.html' %}

{% block title %}{{ data.name | title }} - Pokémon Habitat{% endblock %}

{% block content %}
    <div class="container pt-5">
        <h1>{{ data.name | title }} Egg Group</h1>
    </div>
    <!-- Ai Summary -->
    <section>
        <div class="container pt-5">
            <h2>Summary</h2>
            <div class="row">
                <div class="col">
                    {% if summary_html %}
                        <p>{{ summary_html | safe }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <div class="container pt-5">
        <h2>{{ data.name | title }} Egg Group Pokémon</h2>
        {% include '_pokemon_list.html' %}
    </div>
{% endblock %}
