{% extends 'base.html' %}

{% block title %}{{ data.name.split("-")[0] | title }} {{ data.name.split("-")[1] | upper }} - Generation Details{% endblock %}

{% block content %}
    <div class="detail-section">
        <h1 class="detail-card__title">
            {{ data.name.split("-")[0] | title }} {{ data.name.split("-")[1] | upper }}
        </h1>
        <div class="detail-grid">

            <!-- Main Region Section -->
            <div class="detail-card__info-section">
                <h2 class="detail-card__title">Main Region</h2>
                <ul class="{% if data.main_region.name|length > 25 %}long-list{% endif %}">
                    <li class="detail-card__list">
                        <a href="{{ url_for('pokemon.get_region', id_or_name=data.main_region.name) }}">{{ data.main_region.name | title }}</a>
                    </li>
                </ul>
            </div>

            <!-- Abilities Section -->
            <div class="detail-card__info-section">
                <h2 class="detail-card__title">Abilities</h2>
                <ul class="{% if data.abilities|length > 25 %}long-list{% endif %}">
                    {% for ability in data.abilities %}
                        <li class="detail-card__list">
                            <a href="{{ url_for('pokemon.get_ability', id_or_name=ability.name) }}">{{ ability.name | title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Moves Section -->
            <div class="detail-card__info-section">
                <h2 class="detail-card__title">Moves</h2>
                <ul class="{% if data.moves|length > 25 %}long-list{% endif %}">
                    {% for move in data.moves %}
                        <li class="detail-card__list">
                            <a href="{{ url_for('pokemon.get_move', id_or_name=move.name) }}">{{ move.name | title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Types Section -->
            <div class="detail-card__info-section">
                <h2 class="detail-card__title">Types</h2>
                <ul class="{% if data.types|length > 25 %}long-list{% endif %}">
                    {% for type in data.types %}
                        <li class="detail-card__list">
                            <a href="{{ url_for('pokemon.get_type', id_or_name=type.name) }}">{{ type.name | title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Version Groups Section -->
            <div class="detail-card__info-section">
                <h2 class="detail-card__title">Version Groups</h2>
                <ul class="{% if data.version_groups|length > 25 %}long-list{% endif %}">
                    {% for version_group in data.version_groups %}
                        <li class="detail-card__list">
                            <a href="{{ url_for('pokemon.get_version_group', id_or_name=version_group.name) }}">{{ version_group.name | title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <!-- Pokémon Species Section -->
        <div class="detail-card__info-section">
            <h2 class="detail-card__title">Pokémon in {{ data.name.split("-")[0] | title }} {{ data.name.split("-")[1] | upper }}</h2>
            {% include '_pokemon_list.html' %}
        </div>
    </div>
{% endblock %}
