{% extends "base.html" %}

{% block title %}Home - Pokédex API{% endblock %}

{% block content %}
    <section class="container text-center">
        <div class="px-3 py-4 px-sm-4 py-sm-5">
            <h1 class="text-primary display-2 bg-text-primary">Welcome to the Pokédex API</h1>
            <p class="lead bg-text-primary">Explore the vast world of Pokémon with this Poké API interface.</p>
            <div class="row">
                <div class="hero-container shadow" id="hero-images">
                    <div class="z-3 position-absolute top-50 start-50 translate-middle">
                        <a class="btn btn-primary btn-lg"
                           href="{{ url_for('pokemon.get_pokemon_list', page=1) }}"
                           role="button">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-lg text-center pt-1">
            <h2>Featured Pokémon</h2>
            <div class="row pt-1" id="feature-section">
                <div class="col">
                    <div class="card" style="width: 1fr;">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
                             class="card-img-top" alt="Bulbasaur">
                        <div class="card-body">
                            <h5 class="card-title">Bulbasaur</h5>
                            <p class="card-text">Type: Grass/Poison</p>
                            <a href="{{ url_for('pokemon.get_pokemon', id_or_name='bulbasaur') }}"
                               class="btn btn-primary">View
                                Details</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 1fr;">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
                             class="card-img-top" alt="Pikachu">
                        <div class="card-body">
                            <h5 class="card-title">Pikachu</h5>
                            <p class="card-text">Type: Electric</p>
                            <a href="{{ url_for('pokemon.get_pokemon', id_or_name='pikachu') }}"
                               class="btn btn-primary">View
                                Details</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 1fr;">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/150.png"
                             class="card-img-top" alt="Mewtwo">
                        <div class="card-body">
                            <h5 class="card-title">Mewtwo</h5>
                            <p class="card-text">Type: Psychic</p>
                            <a href="{{ url_for('pokemon.get_pokemon', id_or_name='mewtwo') }}"
                               class="btn btn-primary">View
                                Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-lg text-center pt-5">
            <h2>Pokémon Statistics</h2>
            <div class="row pt-1">
                <div class="col">
                    <div class="card" style="width: 1fr;">
                        <div class="card-body">
                            <h3 class="card-title">{{ pokemon_count }}</h3>
                            <p class="card-text">Pokemon</p>
                            <a href="{{ url_for('pokemon.get_pokemon_list',page=1) }}"
                               class="btn btn-primary">View Pokemon</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 1fr;">
                        <div class="card-body">
                            <h3 class="card-title">{{ abilities_count }}</h3>
                            <p class="card-text">Abilities</p>
                            <a href="{{ url_for('abilities_moves_items.get_ability') }}"
                               class="btn btn-primary">View All Abilities</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 1fr;">
                        <div class="card-body">
                            <h3 class="card-title">{{ types_count }}</h3>
                            <p class="card-text">Types</p>
                            <a href="{{ url_for('characteristics_stats.get_type') }}"
                               class="btn btn-primary">View All Types</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 1fr;">
                        <div class="card-body">
                            <h3 class="card-title">{{ color_count }}</h3>
                            <p class="card-text">Colors</p>
                            <a href="{{ url_for('pokemon.get_pokemon_color') }}"
                               class="btn btn-primary">View All Colors</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 1fr;">
                        <div class="card-body">
                            <h3 class="card-title">{{ habitat_count }}</h3>
                            <p class="card-text">Habitats</p>
                            <a href="{{ url_for('pokemon.get_pokemon_habitat') }}"
                               class="btn btn-primary">View All Habitats</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 1fr;">
                        <div class="card-body">
                            <h3 class="card-title">{{ shape_count }}</h3>
                            <p class="card-text">Shapes</p>
                            <a href="{{ url_for('pokemon.get_pokemon_shape') }}"
                               class="btn btn-primary">View All Shapes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('pokemon.static', filename='js/hero-images.js') }}"></script>
    <script src="{{ url_for('pokemon.static', filename='js/random-featured-pokemon.js') }}"></script>
{% endblock %}
