{% extends 'base.html' %}

{% block title %}Item Attributes{% endblock %}

{% block content %}
    <div class="container pt-5">
        <h1>Item Attributes</h1>
    </div>
    <div class="container pt-5">
        <ul>
            {% for attribute in data %}
                <li>
                    <a href="{{ url_for('pokemon.get_item_attribute', id_or_name=attribute.name) }}">{{ attribute.name | capitalize }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
