{% extends 'base.html' %}

{% block title %}Item Attribute: {{ data.name | capitalize }}{% endblock %}

{% block content %}
    <div class="container pt-5">
        <h1>{{ data.name | capitalize }} Item Attribute</h1>

        <!-- Description Section -->
        <h2>Description</h2>
        <p>{{ data.descriptions[0].description }}</p>

        <!-- Items with this Attribute -->
        <h2>Items with {{ data.name | capitalize }} Attribute</h2>
        <ul>
            {% for item in items_list %}
                <li>
                    <a href="{{ url_for('pokemon.get_item', id_or_name=item.name) }}">{{ item.name | capitalize }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
