{% extends 'base.html' %}

{% block title %}{{ data.name | replace("-", " ") | title }} - Location Area{% endblock %}

{% block content %}
    <div class="detail-section">
        <h1 class="detail-card__title">{{ data.name | replace("-", " ") | title }}</h1>
        <div class="detail-grid">

            <!-- Encounter Methods Section -->
            <div class="detail-card__info-section">
                <h2 class="detail-card__title">Encounter Methods</h2>
                <ul class="detail-card__list">
                    {% for method_rate in data.encounter_method_rates %}
                        <li>
                            Method: <a
                                href="{{ url_for('pokemon.get_encounter_method', id_or_name=method_rate.encounter_method.name) }}">{{ method_rate.encounter_method.name | replace("-", " ") | title }}</a>
                            <ul>
                                {% for version_detail in method_rate.version_details %}
                                    <li>{{ version_detail.version.name | title }} - Rate: {{ version_detail.rate }}%
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="detail-card__info-section"></div>
            <div class="detail-card__info-section"></div>
        </div>
    </div>
    <!-- Pokémon Encounters Section -->
    <h2 class="detail-card__title">Pokémon Encounters</h2>
    <div class="pokemon-grid">
        {% for pokemon in pokemon_list %}
            <div class="pokemon-card" style="width: 275px;">
                <div class="pokemon-card__image-section">
                    {% if pokemon.sprites and pokemon.sprites['other']['official-artwork']['front_default'] %}
                        <img class="pokemon-card__image"
                             src="{{ pokemon.sprites['other']['official-artwork']['front_default'] }}"
                             alt="{{ pokemon.name }}">
                    {% else %}
                        <img class="pokemon-card__image"
                             src="{{ url_for('static', filename='img/default_pokemon.png') }}"
                             alt="No image available">
                    {% endif %}
                </div>
                <div class="pokemon-card__name"><span>{{ pokemon.name | title }}</span></div>
                <div class="pokemon-card__info-section">
                    <ul class="pokemon-card__details-list" style="list-style-type: none; text-align: left; overflow-y: auto;height: 450px;padding-left: 1px">
                        {% for detail in pokemon.version_details %}
                            <li class="pokemon-card__detail-item" style=" margin-bottom: 8px">
                                <strong>{{ detail.version_name | title }}</strong><br>
                                Method: {{ detail.method | title }} <br>
                                Max Level: {{ detail.max_level }} <br>
                                Min Level: {{ detail.min_level }} -
                                Chance: {{ detail.chance }}%
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
