{% extends 'base.html' %}

{% block title %}Move Detail{% endblock %}

{% block content %}
    <h1>{{ data['name'] | title }} Move Detail</h1>
    <!-- Ai Summary -->
    <div class="container pt-5">
        <h2>Summary</h2>
        <div class="row">
            <div class="col">
                {% if summary_html %}
                    <p>{{ summary_html | safe }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <h2>Details</h2>
    <ul>
        <li>Power: {{ data['power'] }}</li>
        <li>Accuracy: {{ data['accuracy'] }}%</li>
        <li>PP: {{ data['pp'] }}</li>
        <li>Priority: {{ data['priority'] }}</li>
        <li>Damage Class: {{ data['damage_class']['name'] | title }}</li>
        <li>Generation: {{ data['generation']['name'] | title }}</li>
    </ul>

    <h2>Effect</h2>
    <ul>
        {% for entry in data['effect_entries'] %}
            <li>{{ entry['effect'] }}</li>
        {% endfor %}
    </ul>

    <h2>Category</h2>
    <p>
        <a href="{{ url_for('pokemon.get_move_category', id_or_name=category['name']) }}">
            {{ category['name'] | title }}
        </a>
    </p>

    <h2>Flavor Texts</h2>
    <ul>
        {% for entry in data['flavor_text_entries'] %}
            <li><strong>{{ entry['version_group']['name'] }}:</strong> {{ entry['flavor_text'] }}</li>
        {% endfor %}
    </ul>
        <section>
        <div class="container pt-5">
            <h2 class="pb-1">{{ data.name | title }} Pokémon</h2>
            {% include '_pokemon_list.html' %}
        </div>
    </section>
{% endblock %}
