{% extends 'base.html' %}

{% block title %}{{ data.name }} - Pokémon Detail{% endblock %}

{% block content %}
<h1>#{{ data.id }} {{ data.name }} </h1>
<div class="pokemon-details">
    <div class="image-section pokemon-detail__image">
        <img src="{{ data.sprites['other']['official-artwork']['front_default'] }}" alt="{{ data.name }}">
    </div>
    <div class="attribute-section">
        <div class="info-section">
            <h2 class="info-section__title">Attributes:</h2>
            <p class="info-section__item"><a href="{{ url_for('pokemon.get_species_data', id_or_name=data.species.url.split('/')[-2]) }}">Species Detail</a></p>
            <p class="info-section__item">Base Experience: {{ data.base_experience }}</p>
            <p class="info-section__item">Height: {{ data.height }}</p>
            <p class="info-section__item">Weight: {{ data.weight }}</p>
            <p class="info-section__item">Is Default: {{ data.is_default }}</p>
            <p class="info-section__item">Order: {{ data.order }}</p>
        </div>
        <div class="info-section">
            <h2 class="info-section__title">Abilities:</h2>
            <ul class="info-section__item">
                {% for ability in data.abilities %}
                <li class="abilities-section__list">
                    <a href="{{ url_for('pokemon.get_ability_data', ability_id=ability.url.split('/')[-2]) }}"> {{ ability.name }} </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="info-section">
            <h2 class="info-section__title">Held items:</h2>
            <ul class="info-section__item">
                {% if data.held_items %}
                {% for item in data.held_items %}
                <li class="item-section__list">
                    <a href="{{ url_for('pokemon.get_item_data', id_or_name=item.url.split('/')[-2]) }}"> {{ item.name }} </a>
                </li>
                {% endfor %}
                {% else %}
                None
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="info-section moves-section">
        <h2 class="info-section__title">Moves:</h2>
        <div class="moves-section__list">
            {% for move in data.moves %}
            <a href="{{ url_for('pokemon.get_move_data', move_id=move.url.split('/')[-2]) }}">{{ move.name }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
