{% extends 'base.html' %}

{% block title %}Pokémon Species{% endblock %}

{% block content %}
    <div class="container pt-5">
        <h1>Pokémon Species</h1>
    </div>
    <div class="container pt-5">
        <ul>
            {% for species in data %}
                <li>
                    <a href="{{ url_for('pokemon.get_pokemon_species', id_or_name=species.name) }}">{{ species.name | capitalize }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
