{% extends 'base.html' %}

{% block title %}{{ data.name }} - Pokémon Detail{% endblock %}

{% block content %}
<h1>{{ data.name }}</h1>
<div class="pokemon-details">
    <div class="image-section pokemon-detail__image">
        <img src="{{ data.sprites['other']['official-artwork']['front_default'] }}" alt="{{ data.name }}">
    </div>
    <div class="info-section">
        <p class="info-section__item">ID: {{ data.id }}</p>
        <p class="info-section__item">Base Experience: {{ data.base_experience }}</p>
        <p class="info-section__item">Height: {{ data.height }}</p>
        <p class="info-section__item">Weight: {{ data.weight }}</p>
        <p class="info-section__item">Is Default: {{ data.is_default }}</p>
        <p class="info-section__item">Order: {{ data.order }}</p>
    </div>
    <div class="abilities-section">
        <h2 class="abilities-section__title">Abilities:</h2>
        <ul class="abilities-section__list">
            {% for ability in data.abilities %}
            <li class="abilities-section__item">
                <a href="{{ url_for('pokemon.get_ability_data', ability_id=ability.url.split('/')[-2]) }}"> {{
                    ability.name }} </a>

                </a>
            </li>
            {% endfor %}
        </ul>
    </div>


        <div class="items-section">
        <h2 class="items-section__title">Held items:</h2>
        <ul class="items-section__list">
            {% for item in data.held_items %}
            <li class="item-section__item">
                <a href="{{ url_for('pokemon.get_item_data', id_or_name=item.url.split('/')[-2]) }}"> {{
                    item.name }} </a>

                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

<div class="pokemon-card__moves-section">
    <h2 class="pokemon-card__moves-title">Moves:</h2>
    <div class="pokemon-card__moves">
        {% for move in data.moves %}
            <a href="{{ url_for('pokemon.get_move_data', move_id=move.url.split('/')[-2]) }}">{{ move.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </div>
</div>

</div>
{% endblock %}
