{% extends 'base.html' %}

{% block title %}{{ data.name | title }} Region Details{% endblock %}

{% block content %}
    <div>
        <h2>{{ data.name | title }} Region</h2>
        <!-- Ai Summary -->
        <div class="container pt-5">
            <div class="row">
                <div class="col">
                    <h2>
                        Summary
                        {% if current_user.is_authenticated and current_user.is_admin %}
                            <a href="{{ url_for('summary_review.summary_review', 
                                               search=data.name,
                                               return_to=url_for('locations_regions.get_region', id_or_name=data.name)) }}" 
                               class="text-decoration-none" 
                               title="Edit Summary">
                                <i class="fas fa-pencil-alt" style="font-size: 75%"></i>
                            </a>
                        {% endif %}
                    </h2>
                    {% if summary_html %}
                        <p>{{ summary_html | safe }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div>

            <!-- Main Generation Section -->
            <div>
                <h2>Main Generation</h2>
                <ul class="{% if data.pokedexes|length > 25 %}long-list{% endif %}">
                    <li>
                        <a href="{{ url_for('evolution_growth.get_generation', id_or_name=data.main_generation.name) }}">
                            {{ data.main_generation.name | replace("-", " ") | title }}
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Pokedexes Section -->
            <div>
                <h2>Pokedexes</h2>
                <ul class="{% if data.pokedexes|length > 25 %}long-list{% endif %}">
                    {% for pokedex in data.pokedexes %}
                        <li>
                            <a href="{{ url_for('pokemon.get_pokedex', id_or_name=pokedex.name) }}">
                                {{ pokedex.name | replace("-", " ") | title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Version Groups Section -->
            <div>
                <h2>Version Groups</h2>
                <ul class="{% if data.version_groups|length > 25 %}long-list{% endif %}">
                    {% for version_group in data.version_groups %}
                        <li>
                            <a href="{{ url_for('utilities.get_version_group', id_or_name=version_group.name) }}">
                                {{ version_group.name | replace("-", " ") | title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Locations Section -->
            <div>
                <h2>Locations</h2>
                <ul class="{% if data.locations|length > 25 %}long-list{% endif %}">
                    {% for location in data.locations %}
                        <li>
                            <a href="{{ url_for('locations_regions.get_location', id_or_name=location.name) }}">
                                {{ location.name | replace("-", " ") | title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
{% endblock %}
