{% extends 'base.html' %}
{% block content %}
<ul>
{% for pokemon in pokemon_list %}
    <li>
        <!-- Display Pokémon information here -->
       <a href="{{ url_for('pokemon.get_pokemon_detail', id_or_name=pokemon['name']) }}" >{{ pokemon['name'] }} </a>
    </li>
{% endfor %}
</ul>

<div class="pagination">
    <a href="{{ url_for('pokemon.get_pokemon_list', page=current_page-1) }}" {% if current_page == 1 %} class="disabled" {% endif %}>Previous</a>
    <a href="{{ url_for('pokemon.get_pokemon_list', page=current_page+1) }}">Next</a>
</div>
{{ pokemons }}
{% endblock %}

