{% extends 'base.html' %}

{% block title %}{{ type_effectiveness.name | title }} - Pokémon Type{% endblock %}

{% block content %}
    <!-- Type Effectiveness -->
    <section>
        <div class="container pt-5">
            <h2>Type Effectiveness</h2>
            <img class="my-2"
                 src="{{ url_for('pokemon.static', filename='img/type/nameplate/' + type_effectiveness.name | lower + '_np.png') }}"
                 style="height: 40px"
                 onerror="this.style.display='none'">
            {% for type_name, relations in type_effectiveness.items() %}
                <!-- Type Name Row -->
                {% set relation_types = [
                        {'name': 'Double Damage To', 'relation': relations.double_damage_to},
                        {'name': 'Half Damage To', 'relation': relations.half_damage_to},
                        {'name': 'No Damage To', 'relation': relations.no_damage_to},
                        {'name': 'Double Damage From', 'relation': relations.double_damage_from},
                        {'name': 'Half Damage From', 'relation': relations.half_damage_from},
                        {'name': 'No Damage From', 'relation': relations.no_damage_from}
                    ] %}
                {% for relation in relation_types %}
                    {% if relation.relation %}
                        <div class="row pb-1 border-bottom">
                            <div class="col-2"><strong>{{ relation.name }}</strong></div>
                            <div class="col-10 d-flex flex-wrap">
                                {% for type in relation.relation %}
                                    <div class="me-2">
                                        <a href="{{ url_for('characteristics_stats.get_type', id_or_name=type.name) }}">
                                            <img src="{{ url_for('pokemon.static', filename='img/type/nameplate/' + type.name | lower + '_np.png') }}"
                                                 style="height: 25px"
                                                 onerror="this.style.display='none'">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </section>
    <!-- Ai Summary -->
    <section>
        <div class="container pt-5">
            <h2>
                Summary
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <a href="{{ url_for('summary_review.summary_review', 
                                       search=type_effectiveness.name,
                                       return_to=url_for('characteristics_stats.get_type', id_or_name=type_effectiveness.name)) }}" 
                       class="text-decoration-none" 
                       title="Edit Summary">
                        <i class="fas fa-pencil-alt" style="font-size: 75%"></i>
                    </a>
                {% endif %}
            </h2>
            <div class="row">
                <div class="col">
                    {% if summary_html %}
                        <p>{{ summary_html | safe }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container pt-5">
            <h2>{{ type_effectiveness.name | title }} Pokémon</h2>
            {% include '_pokemon_list.html' %}
        </div>
    </section>
{% endblock %}

