{% extends 'base.html' %}

{% block title %}{{ data.name | title }} - Version Group{% endblock %}

{% block content %}
    <div class="detail-section">
        <h2>{{ data.name | title }} Version Group</h2>
    <!-- Ai Summary -->
    <div class="container pt-5">
        <h2>Summary</h2>
        <div class="row">
            <div class="col">
                {% if summary_html %}
                    <p>{{ summary_html | safe }}</p>
                {% endif %}
            </div>
        </div>
    </div>
        <div>
            <!-- Generation Section -->
            <div>
                <h2>Generation</h2>
                <p>
                    <a href="{{ url_for('pokemon.get_generation', id_or_name=data.generation.name) }}">{{ data.generation.name | title }}</a>
                </p>
            </div>

            <!-- Regions Section -->
            <div>
                <h2>Regions</h2>
                <ul>
                    {% for region in data.regions %}
                        <li>
                            <a href="{{ url_for('pokemon.get_region', id_or_name=region.name) }}">{{ region.name | title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Pokedexes Section -->
            <div>
                <h2>Pokedexes</h2>
                <ul>
                    {% for pokedex in data.pokedexes %}
                        <li>
                            <a href="{{ url_for('pokemon.get_pokedex', id_or_name=pokedex.name) }}">{{ pokedex.name | title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Versions Section -->
            <div>
                <h2>Versions</h2>
                <ul>
                    {% for version in data.versions %}
                        <li>
                            <a href="{{ url_for('pokemon.get_version', id_or_name=version.name) }}">{{ version.name | title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Move Learn Methods Section -->
            <div>
                <h2>Move Learn Methods</h2>
                <ul>
                    {% for method in data.move_learn_methods %}
                        <li>
                            <a href="{{ url_for('pokemon.get_move_learn_method', id_or_name=method.name) }}">{{ method.name | title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
