{% extends 'base.html' %}

{% block title %}{{ data.name | title }} - Version Details{% endblock %}

{% block content %}
    <div>
        <h2>{{ data.name | title }}</h2>
    </div>
    <!-- Ai Summary -->
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                {% if summary_html %}
                    <p>{{ summary_html | safe }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Version Group Section -->
    <div>
        <h2>Version Group</h2>
        <a href="{{ url_for('pokemon.get_version_group', id_or_name=data.version_group.name) }}">{{ data.version_group.name | replace("-", " ") | title }}</a>
    </div>
{% endblock %}
