{% extends 'base.html' %}

{% block title %}{{ data.name | title }} - Version Details{% endblock %}

{% block content %}
    <div>
        <h2>{{ data.name | title }}</h2>
    </div>
    <!-- Ai Summary -->
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h2>
                    Summary
                    {% if current_user.is_authenticated and current_user.is_admin %}
                        <a href="{{ url_for('summary_review.summary_review', 
                                           search=data.name,
                                           return_to=url_for('utilities.get_version', id_or_name=data.name)) }}" 
                           class="text-decoration-none" 
                           title="Edit Summary">
                            <i class="fas fa-pencil-alt" style="font-size: 75%"></i>
                        </a>
                    {% endif %}
                </h2>
                {% if summary_html %}
                    <p>{{ summary_html | safe }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Version Group Section -->
    <div>
        <h2>Version Group</h2>
        <a href="{{ url_for('utilities.get_version_group', id_or_name=data.version_group.name) }}">{{ data.version_group.name | replace("-", " ") | title }}</a>
    </div>
{% endblock %}
